.container{
    max-width: 500px;
    height: 400px;
    background-color: brown;
    position: relative;
}
.header{
    /* float: left; */
    position: absolute;
    bottom:20px;
    right: 20px;
    height: 20px;
    width: 150px;
    text-align: center;
    background-color: green;
    border-radius: 5px;

}

.sidebar{
    /* float: left; */
    /* clear: left; */
    width: 400px;
    height: 20px;
    background-color:blue;
}
.content{
    width: 40%;
    height: 20px;
    background-color: yellow;
}
.footer{
    position: fixed;
    bottom: 40px;
    width: 100%;
    height: 30px;
    background-color: red;
}
.sticky{
    position:sticky;
    top:0;
    left:0;
    width: 100%;
    height: 20px;
    background-color: darkorchid;
}


body{
    height: 200vh;
}