/* css rule goes here */
/* p,h2 {
    width: 50%;
    margin-left: 300px;
}

#test {
font-size: 20px;
color:hsl()
}

.danger {
    font-weight: 600px;
    color: rgb(66, 151, 66);
} */

.container {
    width:960px;
    margin-left:200px;
}

.desc{
    width:400px;
    border:dotted;
    border-color:blue;
    border-width: 2px;
    padding:15px 10px 2px 20px;
    margin:0px;
}

span{
    width:400px;
}


.image-block{
    /* border-width:1px;
    border-style:solid;
    border-color:blue; */
    border:1px solid blue;
}

.img-block {
    display: inline-block;
    width:400px;
}
p.img-block{
    vertical-align: top;
    margin:0 auto;
}

a{
    display: block;
    text-decoration: none;
    text-align: center;
}

a:link{
    background-color: green;
}

a:checked {
    background-color: brown;
}
a:hover{
    background-color: aqua;
}

.img-block:hover{
    /* visibility: hidden; */
    opacity: 0.5;
}