
table{
    width: 400px;
    border-collapse: collapse;
}
tr:hover{
    background-color: green;
}

table,
td,
th{
    border-bottom: 1px solid blue;
}

td{
    text-align: center;
}

caption {
    caption-side: bottom;
    text-decoration: underline;
}

thead tr{
    background-color: yellow;
}

tbody tr:nth-child(even){
    background-color: gray;
}

tfoot tr {
    background-color: tomato;
}
/* td,
th{
    border-bottom: 1px solid brown;
} */